.list-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.list-wrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.list-search{
    flex: 1;
    background-color: rgb(215, 166, 74);
    padding: 12px;
    border-radius: 12px;
    position: sticky;
    top: 12px;
    height: max-content;
}
.list-search-title{
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    
}

.list-item{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 12px;
}

.list-item>label{
    font-size: 12px;
}
.list-item>input{
    border: none;
    padding: 12px;
}
.list-item>span{
    border: none;
    padding: 12px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.list-search-options{
    padding: 12px;
}
.list-search-option-item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 12px;
}

.list-search-option-input{
    width: 50px;
}
.list-search>button{
    padding: 12px;
    color: white;
    background-color: rgb(125, 212, 125);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
}
.list-result{
    flex: 3;
}