.reviews {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 206, 249);
  text-align: center;
}
.reviews h1 {
    font-size: 30px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.one-review {
  background-color: blanchedalmond;
  width: 250px;
  height: 220px;
  margin: 20px;
  padding: 5px;
}

.one-review h1 {
  font-size: 20px;
}

.stars {
  display: flex;
  flex-direction: row;
}

.star {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid black;
  background-color: black;
}

