.reviews {
  display: flex;
  flex-direction: column;
  background-color: rgb(185, 206, 249);
  text-align: center;
}
.reviews h1 {
    font-size: 30px;
}

.reviews-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}



/* .mySwiper{
  width: 1200px;
  background-color: red;
} */